<!doctype html>
<html>
    <head>
        <title>Nueva Plantilla</title>
    </head>
    <body>
        <h1>Plsntilla nueva</h1>
        <div style="background-color:aqua">
            <h1>Zona de Vistas</h1>
            @RenderBody()
        </div>
    </body>
</html>